<div class="parentMessage" [ngClass]="this.gotItClicked?'fadeOutBox':''">
    <div *ngIf="leftArrow" class="arrowLeft">
    </div>
    <div class="container">
        <div class="message">
            {{message | titlecase}}
        </div>
        <div class="close">
            <button (click)="close(message)" *ngIf="!gotItClicked" class="closeAction">
                Got it
            </button>
            <i *ngIf="gotItClicked" class="fa-solid fa-thumbs-up thumbsAction"></i>
        </div>
    </div>
    <div *ngIf="!leftArrow" class="arrowRight">
    </div>
</div>