::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  height: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  // background-color: #eeeeee;
  // background-color: #171717;
  background-color: rgb(36, 36, 36);
  -webkit-border-radius: 16px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 10px;
  // background-color: #171717;
  background-color: rgb(17, 17, 17);
  // background-color: #171717;
  border: 1px solid #545353;
  cursor: pointer;
  -webkit-border-radius: 16px;
}

.curve-border {
  // position: absolute;
  // width: 100px;
  // height: 100px;
  // border-right: 1px solid transparent;
  // border-bottom: 4px solid rgb(56, 71, 212);
  // border-left: 1px solid transparent;
  // border-top: 1px solid transparent;
  // border-radius: 50px;
  // transform: rotate(45deg);
  // z-index: 1000

  // position: absolute;
  // width: 28px;
  // top: 5%;
  // height: 31px;
  // left: 3%;
  // border-right: 4px solid transparent;
  // border-bottom: 4px solid rgb(56, 71, 212);
  // border-left: 4px solid transparent;
  // border-top: 4px solid transparent;
  // border-radius: 50px;
  // transform: rotate(45deg);
  // z-index: 1000;

  position: absolute;
  width: 27px;
  top: 22.4%;
  height: 38px;
  left: 29px;
  border-right: 3px solid transparent;
  border-bottom: 3px solid #6c30a8;
  border-left: 3px solid transparent;
  border-top: 3px solid transparent;
  border-radius: 50px;
  transform: rotate(43deg);
  z-index: 1000;

      // position: absolute;
    // width: 26px;
    // top: 43.4%;
    // height: 26.6px;
    // left: -1px;
    // border-right: 3px solid #6c30a8;
    // border-bottom: 3px solid transparent;
    // border-left: 3px solid transparent;
    // border-top: 3px solid transparent;
    // border-radius: 50px;
    // transform: rotate(43deg);
    // z-index: 1000;
}

.horizontalLine{
  width: 98.3%;
  position: absolute;
  top: 103.5%;
  left: 41px;
  z-index: 10000;
  border-bottom: 2.7px solid #663399;

  
  // width: 109.7%;
  // position: absolute;
  // top: 103.5%;
  // left: -20px;
  // z-index: 10000;
  // border-bottom: 2.7px solid #663399;
}




.parent {
  background-color: rgb(17, 17, 17);
  height: 100vh;
  width: 100%;
  display: flex;
  // align-items: baseline;
  font-family: 'Roboto', sans-serif;
  position: relative;
  overflow-x: hidden;
}

::ng-deep{
  .mat-sort-header-content {
    font-size: 1rem;
  }
}
.borer{
  width: 2px;
  height: 10%;
  margin: auto;
  background-color: #2c2c2c;
}

.rightMidBorder{
  height: 2px;
  background: #2c2c2c;
  width: 10%;
  position: absolute;
  left: 0;
}
.codeHistoryContainer {
  width: 50%;
  // height: 99vh;
  padding: 15px 10px;
  box-sizing: border-box;
  // padding-top: 25px;
  // padding-left: 15px;

  .iconCircle{
    border-radius: 50%;
    padding: 2px;
    border: 2px solid rebeccapurple;
    /* height: 25px; */
    display: flex;
    align-items: center;
    margin-right: 8px;
  }

  table {
    width: 100%;
    position: relative;
    color: white !important;
  }

  .mat-mdc-form-field {
    font-size: 14px;
    color: white !important;
    width: 100%;
  }
  .mat-column-action{
    font-size: 1rem;
  }
  .mat-column-Sno {
    max-width: 46px !important;
    min-width: 1% !important;
    text-overflow: inherit;
    .mat-sort-header-content{
      font-size: 1.1rem !important;
      color: #acabab !important;
    }
    // min-width: 40px !important;
  }

  .mat-mdc-row:hover .mat-mdc-cell{
    background-color: #171717;
  }

  .mat-column-title .mat-header-cell {
    max-width: 30% !important;
    min-width: 30% !important;
    word-wrap: break-word;
  }

  .mat-paginator {
    position: sticky;
    bottom: 0px !important;
    position: sticky !important;
    z-index: 10 !important;
    background-color: rgb(17, 17, 17);
    color: #acabab;
  }


  .mat-mdc-paginator-outer-container {
    background-color: #171717;
  }
  .mat-column-question {
    max-width: 60% !important;
    min-width: 60% !important;
  }

  .mat-column-language {
    max-width: 15% !important;
    min-width: 15% !important;
  }
  tr {
    // color: #fff !important;
    color: #acabab !important;
    // border: none;
    th{
      .mat-sort-header-content{
        font-size: 1.5rem !important;
        color: #acabab !important;
      }
    }
  }

  td,
  th {
    // color: #FFF !important;
    color: #acabab !important;
  }
  .mat-header-cell {
    font-size: 1.1rem; /* Adjust the font size as needed */
  }
  .mat-elevation-z8 {
    height: 82vh !important;
    overflow-y: hidden;
    padding-right: 10px;
    table > thead > tr > th.mat-sort-header.mat-mdc-header-cell.mdc-data-table__header-cell.cdk-header-cell.table_m.cdk-column-title.mat-column-title.ng-star-inserted.mat-mdc-table-sticky.mat-mdc-table-sticky-border-elem-top > div > div.mat-sort-header-content{
      font-size: 1.1rem !important;
      color: #acabab !important;
    }
  }

  .mat-elevation-z8:hover {
    padding-right: 0;
    overflow-y: auto;
  }

  // .mat-elevation-z8::-webkit-scrollbar{
  //   width: 10px;
  //   // display: none;
  // }
  .mat-mdc-table {
    background-color: rgb(17, 17, 17) !important;
  }
  .mat-mdc-cell{
    border-bottom: none;
  }

  // .table_s{
  //   width: 10px !important;
  // }
  // .table_m{
  //   width: 25% !important;
  // }
  // .table_l{
  //   width: 35%;
  // }
  .mat-elevation-z8,
  .mat-mdc-elevation-specific.mat-elevation-z8 {
    box-shadow: none;
  }
}

.title {
  padding: 10px 15px;
  /* background: #171717; */
  /* border-top-left-radius: 10px; */
  color: #c2c2c2 !important;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  position: relative;
  mat-icon{
    margin-right: 10px;
  }
  img{
    margin-right: 10px;
  }
}

::ng-deep .rightPlane {
  width: 50%;
  height: 94vh;
  position: relative;
  padding: 15px 10px;
  .verticalLine{
    position: absolute;
    border-left: 3px solid rebeccapurple;
    height: 35%;
    top: 94px;
  }
  .verticalCurve{
    position: absolute;
    width: 55px;
    top: 65px;
    height: 57px;
    left: -48.5px;
    border-right: 3px solid transparent;
    border-bottom: 3px solid #6c30a8;
    border-left: 3px solid transparent;
    border-top: 3px solid transparent;
    border-radius: 50px;
    transform: rotate(228deg);
    z-index: 1000;
  }
  .iconCircle{
    border-radius: 50%;
    padding: 2px;
    border: 2px solid rebeccapurple;
    /* height: 25px; */
    display: flex;
    align-items: center;
    margin-right: 8px;
  }
  .topRight {
    display: flex;
    height: 50%;
    width: 100%;
    position: relative;
    .curve-border2{
      position: absolute;
      width: 38px;
      top: -33.6%;
      height: 37px;
      left: -5px;
      border-right: 3px solid transparent;
      border-bottom: 3px solid #6c30a8;
      border-left: 3px solid transparent;
      border-top: 3px solid transparent;
      border-radius: 50px;
      transform: rotate(47deg);
      z-index: 1000;
    }
    .horizontalLine{
      width: 51.5%;
      position: absolute;
      top: 2.7%;
      left: 20px;
      z-index: 10000;
      border-bottom: 2.7px solid #663399;
    }
    .curve-border3{
      top: -11.6%;
      left: 0px;
    }
    .trendingList {
      border-radius: 20px;
      width: 50%;
      padding: 15px 10px 15px 5px;
      // background: #171717;
        .iconCircle3{
          border-radius: 50%;
          padding: 2px;
          border: 2px solid rebeccapurple;
          /* height: 25px; */
          display: flex;
          align-items: center;
      }
      .trendingQuestion {
        height: 80%;
        overflow-y: hidden;
        padding-right: 10px;
        background-color: rgb(17, 17, 17);
        position: relative;
      }
      .trendingQuestion:hover{
        padding-right: 0;
        overflow-y: auto;
      }

      .mat-tab-header {
        top: 0;
        z-index: 1000;
        position: sticky;
        position: -webkit-sticky;
        /* macOS/iOS Safari */
      }

      .mdc-list-item {
        padding-left: 10px;
        padding-right: 5px;
      }

      .mat-mdc-list-item.mdc-list-item--with-leading-icon.mdc-list-item--with-one-line {
        height: 40px;
      }

      .mat-mdc-list-item:not(.mat-mdc-list-item-interactive) {
        height: 40px;

        // border-bottom: 1px solid #343434;
      }

      .mat-mdc-list-item:not(.mat-mdc-list-item-interactive):hover {
        background-color: #171717;

        .code {
          color: rgb(0, 134, 255);
        }

        .link {
          color: #acacac;
        }

        .javascript {
          color: #EFD81D
        }

        .java {
          color: #FFA500
        }

        .python {
          color: #3776AB;
        }
      }

      .javascript {
        color: #acacac;
      }

      .java {
        color: #acacac;
      }

      .python {
        color: #acacac;

      }

      .mdc-list-item__content {
        // color: rgba(255, 255, 255, 0.5) !important;
        color: #acabab !important;

        display: flex;
      }

      .mat-mdc-list-item.mdc-list-item--with-leading-icon.mdc-list-item--with-one-line:hover {
        height: 40px;
      }

      .mdc-list-item__primary-text {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      .icons {
        display: flex;
        justify-content: space-between;
        width: 60px;

        .mat-icon {
          font-size: 21px;
          cursor: pointer;
        }

        .code {
          color: #acacac;
        }

        .link {
          color: #acacac;
        }
      }

      .content {
        // color: #d9d9d9;
        // color: rgb(202 202 202);
        color: #acabab !important;
        // width: 60%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        padding: 0 10px;
        font-size: 0.8rem;
      }

      .mdc-list-item--with-leading-icon .mdc-list-item__start {
        margin-left: 10px;
        margin-right: 10px;
      }

      .mdc-list-group__subheader {
        position: fixed;
        width: 100%;
        height: 40px;
        padding: 0 15px;
        display: flex;
        top: 33px;
        margin: 0;
        background: #171717;
        align-items: center;
        margin-right: 6px;
        font-size: 22px;
        z-index: 100000;
        border-bottom: 1px solid #343434;
        color: #d9d9d9 !important;

        .mat-icon {
          margin-right: 6px;
          font-size: 22px;
        }
      }

      .empty_mat_list {
        height: 20px;
      }
    }

    .pieChart {
      width: 45%;
      padding: 15px 10px 15px 5px;
      .curve-border4{
        position: absolute;
        width: 36px;
        top: -15.6%;
        height: 37px;
        left: -13px;
        border-right: 3px solid transparent;
        border-bottom: 3px solid #6c30a8;
        border-left: 3px solid transparent;
        border-top: 3px solid transparent;
        border-radius: 50px;
        transform: rotate(224deg);
        z-index: 1000;

      }
      .icons {
        display: flex;
        justify-content: space-around;

        fa-icon {
          font-size: 30px;
        }

        cursor: pointer;
      }

      .chart {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }

  .bottomRight {
    width: 100%;
    position: relative;
    height: auto;
    .trendingBarChart {
      position: relative;
      margin: 0 auto;
      .curve-border2{
        position: absolute;
        width: 27px;
        top: 24.4%;
        height: 37px;
        left: -8px;
        border-right: 3px solid transparent;
        border-bottom: 3px solid #6c30a8;
        border-left: 3px solid transparent;
        border-top: 3px solid transparent;
        border-radius: 50px;
        transform: rotate(318deg);
        z-index: 1000;
      }
      .avg_pace {
        fill: #acabab;
      }

    }
  }
}